.about-me-container-wrapper {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.about-me-container {
  display: grid;
  border-radius: 12px;
  padding: 32px 24px;
  grid-template-columns: 4fr 2fr;
  grid-gap: 32px;
  margin: 10px;
}

.content {
  color: white;
  font-size: 1rem;
  gap: 2rem;
  align-items: center;
  max-width: 1000px;
}

.textblock-header {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.8rem;
  color: #00ffff;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 8px;
  vertical-align: middle;
}

.terminal {
  background-color: rgb(0, 1, 1, 0.5);
  color: #d4d4d4;
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  padding: 16px;
  border-radius: 8px;
  white-space: pre;
  margin-top: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  overflow-x: auto;
}

.key {
  color: #1793d1;
  font-weight: bold;
}

.pixel-wave-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -19;
  overflow: visible;
}

.pixel-wave {
  position: absolute;
  top: 0;
  right: -75px;
  width: 650px;
  max-width: none;
  min-width: 400px;
  height: auto;
}

.social-icons {
  font-size: 32px;
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icons a img {
  width: 64px;
  height: 64px;
  filter: invert(1);
  transition: transform 0.2s ease, filter 0.2s ease;
}

.social-icons a:hover i {
  transform: scale(1.2);
  color: #ccc;
}

.fab {
  color: #FFFFFF;
}
.fas{
  color: #FFFFFF;
}

.social-icons a[href*="t.me"]:hover i {
  color: #229ED9; /* Telegram голубой */
}

.social-icons a[href*="github.com"]:hover i {
  color: #6e5494; /* GitHub фиолетовый */
}

.social-icons a[href*="vk.com"]:hover i {
  color: #0077FF; /* VK синий */
}

.social-icons a[href*="instagram.com"]:hover i {
  color: #E1306C; /* Instagram розовый */
}

.social-icons a[href^="mailto:"]:hover i {
  color: #ff9900; /* Почта — оранжевый */
}

.social-icons a[href*="yandex.ru"]:hover i {
  color: #FFCC00; /* Резюме — жёлтый */
}


.city {
  color: #ba35aa;
  cursor: pointer;
  transition: color 0.2s ease;


  &:hover {
    color: #ed5ddd;
    text-decoration-thickness: 2px;
  }
}

.photo-block img {
  object-fit: contain;
}
