<div class="mailbox-container">
  <h2 id="funbox" class="mailbox-title">
    ___ /\/\/\/\ ___<br>
    |\/| MAILBOX |\/| <br>
    TTT\/\/\/\/\/TTT</h2>
  <p class="disclaimer">// disclaimer: shouts <i>are</i> pre-moderated, but they do not reflect my views.</p>
  <div class="mailbox-form">
    <div class="sun-wrapper">
      <img src="/assets/img/sun-mailbox.png" alt="Wave" class="sun">
    </div>
    <div class="meme-wrapper">
      <img src="/assets/img/meme-face.png" alt="Wave" class="meme">
    </div>
    <textarea
      [(ngModel)]="newShout"
      placeholder="let the void hear you"
      rows="2"
      class="mail-input"
    ></textarea>
    <button type="button" class="mail-submit" (click)="submitShout()" title="Send">
      <i class="fa fa-bullhorn"></i>
    </button>
  </div>
  <div class="private-pagination-row">
    <label class="private-checkbox">
      <input type="checkbox" [(ngModel)]="isPrivate"/>
      as private message
    </label>
    <div class="pagination">
      <button type="button" (click)="prevPage()" [disabled]="currentPage === 1">prev</button>
      <span class="page-indicator">| page {{ currentPage }} of {{ totalPages }} |</span>
      <button type="button" (click)="nextPage()" [disabled]="currentPage === totalPages">next</button>
    </div>
  </div>
  <div class="mailbox-messages">
    <div class="mail-message" *ngFor="let shout of shouts; let i = index">
      <div class="meta">Аноним {{ shout.date }} №{{ shout.id }}</div>
      <div class="text">{{ shout.message }}</div>
      <div class="reply" *ngIf="shout.reply">reply: {{ shout.reply }}</div>
    </div>
  </div>
</div>

