<div class="shoutbox-container">
  <h2 id="funbox" class="shoutbox-title">shoutbox</h2>
  <p class="disclaimer">// disclaimer: shouts <i>are</i> pre-moderated, but they do not reflect my views.</p>

  <div class="shoutbox-form">
    <textarea
      [(ngModel)]="newShout"
      placeholder="let the void hear you"
      rows="2"
      class="shout-input"
    ></textarea>

    <button class="shout-submit" (click)="submitShout()" title="Send">
      <i class="fa fa-bullhorn"></i>
    </button>
  </div>

  <label class="private-checkbox">
    <input type="checkbox" [(ngModel)]="isPrivate" />
    as private message
  </label>

  <div class="shoutbox-messages">
    <div class="shout-message" *ngFor="let shout of shouts; let i = index">
      <div class="meta">#{{ shouts.length - i }} {{ shout.date }}</div>
      <div class="text">{{ shout.message }}</div>
      <div class="reply" *ngIf="shout.reply">reply: {{ shout.reply }}</div>
    </div>
  </div>
</div>

