<about-me></about-me>
<p id="projects" class="project-header">/\   /\<br>SOLUTIONS <br> (=^oωo^=)</p>
<div class="cards-wrapper">
  <div class="kitten-wrapper">
  <div class="background-kitten"></div>
  </div>
  <div class="bracket-box">
    <img src="/assets/img/skobka_up.png" alt="image" class="inverted-image">
  </div>
  <div class="project-footer-image-wrapper">
    <img src="/assets/img/krest.png" alt="Footer Decorative" class="project-footer-image">
  </div>
</div>
<div class="project-cards-container">
  <div *ngFor="let card of paginatedCards" class="project-card">
    <div class="avatar-name">
      <img [src]="card.img" alt="image" class="project-card__avatar">
      <div class="project-card__name">
        <strong>{{ card.name }}</strong>
      </div>
    </div>

    <div class="project-card-description">
      {{ card.description }}
    </div>

    <div class="project-card-tags">
      <div *ngFor="let tag of card.tags" class="skill-tag">{{ tag }}</div>
    </div>
    <boom-button [url]="card.sourceUrl"></boom-button>
  </div>
</div>
<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-button">← prev</button>
  <span id="pageIndicator">{{ currentPage }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">next →</button>
</div>
<div class="cards-wrapper">
  <div class="bracket-box">
    <img src="/assets/img/skobka_down.png" alt="image" class="inverted-image">
  </div>
</div>
<mailbox></mailbox>
