@font-face {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/webfonts/JetBrainsMono-Medium.woff2');
  display: swap;
}

@font-face {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/webfonts/JetBrainsMono-Medium.woff2');
  display: swap;
}

@font-face {
  font-family: 'nightjar';
  font-style: normal;
  font-weight: 500;
  src: url('/home/barahlush/barahlush/cv/cv_page/public/assets/fonts/nightfang-demo.ttf') format('truetype');
  font-display: swap;
}
